.testButton {
    background-color: #0c1b46;
    /* border: black; */
    color: rgb(255, 255, 255);
    padding: 100px 300px;
    text-align: center;
    font-size: 100px;
    cursor: pointer;
  }
  
  .testButton:hover {
    background-color: #006aff;
    color: white;
  }
  
  .Button {
    text-align: center;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Button-logo {
      animation: Button-logo-spin infinite 20s linear;
    }
  }
  
  .Button-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  
  @keyframes Button-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  