.buttonCounter {
    background-color: #0c1b46;
    /* border: black; */
    color: rgb(255, 255, 255);
    /* padding: 100px 300px; */
    text-align: center;
    /* font-size: 100px; */
    cursor: pointer;
  }
  
.buttonCounter:hover {
  background-color: #006aff;
  color: white;
}
