*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
terraform.tfstate
usage.yaml
.terraform
.terraform.tfstate.lock.info
terraform.tfstate.backup
terraform.tfstate.backup
kong/
gloo/
k8s/api/dev.yaml
k8s/api/nodeport.yaml
k8s/api/headless.yaml
k8s/server/dev.yaml
**/*.DS_Store
INFO.md
run.txt
info.txt
kustomize/
argocd/notes.txt
kbuild.sh
deploy/api/dev.yaml
install_argo.sh
foo.yaml
